#accueil {
    position: relative;
    height: calc(100vh - var(--header));
}

.titre-accueil{
    position: absolute;
    bottom: 0;
    z-index: 10;

    color: white;
    font-size: 7rem;
    font-family: "Ojuju";

    display: flex;
    flex-direction: column;
    margin: 2rem;
}
@media screen and (max-width: 1150px) {
    .titre-accueil{
        font-size: 5.5rem; 
    }
}
@media screen and (max-width: 740px){
    .titre-accueil{
        font-size: 4rem; 
    }
}
@media screen and (max-width: 460px){
    .titre-accueil{
        font-size: 3.25rem; 
    }
}


.conteneur-bckgrd{
    height: 100%;
    width: 100%;
}
.contenu-bckgrd{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#accueil .conteneur-bckgrd::after{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(12,12,31,0.8) 0%, rgba(9,9,121,0) 100%);
}