:root{
    --header: 105px;
    --couleur-fond: rgb(12, 12, 31);
    --couleur-fond-clair: rgb(26, 26, 48);
}

*{
    box-sizing: border-box;
}

.slide{
    min-height: calc(100vh - var(--header));
}
