#accueil {
    position: relative;
    height: calc(100vh - var(--header));
}

#accueil h2{
    position: absolute;
    bottom: 0;
    z-index: 10;

    color: white;
    font-size: 7rem;
    font-family: "Ojuju";

    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#accueil #conteneur-video{
    height: 100%;
    width: 100%;
    z-index: 9;
}
#accueil video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#accueil #conteneur-video::after{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(12,12,31,0.8) 0%, rgba(9,9,121,0) 100%);
}





#produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--couleur-fond);
}
.tuille-produit{
    position: relative;
    width: 50%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
}
.tuille-produit::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: grayscale(1);
    transform: scale(1);
    transition: transform 0.5s ease ,filter 0.5s ease;
    
}
.tuille-produit:hover::before{
    transform: scale(1.1);
    filter: grayscale(0);
}
#bat-acoustiques::before{
    background-image: url(../img/background-tuilles-produits/bat-acous.jpg);
}
#bat-electroniques::before{
    background-image: url(../img/background-tuilles-produits/bat-elec.jpg);
}
#classiques::before{
    background-image: url(../img/background-tuilles-produits/perc-class.jpg);
}
#traditionnelles::before{
    background-image: url(../img/background-tuilles-produits/perc-trad.jpg);
}

.tuille-produit a{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(12, 12, 31, 0.5);
    color: white;
    text-decoration: none;   
}
.titre-tuille{
    font-size: 3rem;
    font-family: "Ojuju";
    text-align: center;
    margin: 1rem;
}





#presentation{
    background-color: var(--couleur-fond);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
}
#fond-presentation{
    max-width: 650px;
    min-width: 450px;
}
#texte-presentation{
    color: white;
    font-family: "Nothing You Could Do", cursive;
    max-width: 600px;
    padding: 3rem 3rem 1.5rem;
}
#texte-presentation p{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

#rappel-inscription{
    background-color: var(--couleur-fond);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}
#rappel-inscription h3{
    font-size: 4rem;
}
#rappel-inscription a{
    margin-top: 1rem;
}
