:root{
    --header: 105px;
    --couleur-fond: rgb(12, 12, 31);
}

.slide{
    min-height: calc(100vh - var(--header));
}

#header{
    background-color: var(--couleur-fond);

    position: sticky;
    top: 0;
    height: var(--header);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    z-index: 10000;
}
#logo-header{
    height: 9rem;
    position: relative;
    top: 2.8rem;
    margin: 0 5%;
}
#nav-produits{
    margin: 0 5% 0.5rem;
}
#nav-produits ul{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 4rem;
}
#nav-produits a{
    color: white;
    text-decoration: none;
}
#nav-produits a:hover{
    text-decoration: underline;
}