:root{
    --header: 90px;
    --couleur-fond: rgb(12, 12, 31);
}

.slide{
    min-height: calc(100vh - var(--header));
}

#header{
    position: sticky;
    top: 0;

    background-color: white;
    height: var(--header);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}
#nav-produits{
    margin: 0 5%;
}
#nav-produits ul{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    text-align: center;
}