:root{
    --header: 105px;
    --couleur-fond: rgb(12, 12, 31);
}

*{
    box-sizing: border-box;
}

.slide{
    min-height: calc(100vh - var(--header));
}

body{
    overflow-x: hidden;
}

#header{
    background-color: var(--couleur-fond);

    position: sticky;
    top: 0;
    height: var(--header);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    z-index: 10000;
}

#logo-header{
    height: 7.5rem;
    position: relative;
    top: 2.2rem;
    margin: 0 2rem;
    z-index: 10000;
    transition: transform 0.5s ease;
}
#logo-header:hover{
    transform: scale(1.05) translateX(0.5rem);
}

#nav-produits{
    margin: 0 4rem 0.6rem;
}
#nav-produits ul{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 4rem;
}
#nav-produits li{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#nav-produits a{
    font-family: "Righteous";
    color: white;
    text-decoration: none;
}
#nav-produits a:hover{
    text-decoration: underline;
}

label[for="activ-nav-produits"]{
    width: 30px;
    height: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    transform: scale(1.2);
    cursor: pointer;
}
label[for="activ-nav-produits"] span{
    width: 30px;
    height: 5px;
    background-color: white;
    transition: 0.5s ease;
}
#activ-nav-produits:checked + label[for="activ-nav-produits"] span{
    width: 35px;
}
#activ-nav-produits:checked + label[for="activ-nav-produits"] span:nth-of-type(1){
    transform: translateY(11.5px) rotate(45deg);
}
#activ-nav-produits:checked + label[for="activ-nav-produits"] span:nth-of-type(2){
    opacity: 0;
}
#activ-nav-produits:checked + label[for="activ-nav-produits"] span:nth-of-type(3){
    transform: translateY(-11.5px) rotate(-45deg);
}

label[for="activ-nav-produits"], #activ-nav-produits{
    display: none;
}

@media screen and (max-width: 1150px) {
    #nav-produits{
        margin: 0 2.5rem 0.6rem;
    }
    #nav-produits #activ-nav-produits ~ ul{
        display: none;

        position: fixed;
        bottom: 0;
        height: calc(100vh - var(--header));
        width: 100%;
        background-color:  rgba(12, 12, 31, 0.8);
        right: 0;
        z-index: 100;

        flex-direction: column;
        justify-content: center;
        align-items: end;
        row-gap: 3.5rem;
    }
    #nav-produits #activ-nav-produits:checked ~ ul{
        display: flex;
    }

    label[for="activ-nav-produits"]{
        display: flex;
    }

    #nav-produits li{
        margin: 0 3rem 0 12rem;
        font-size: 3rem;
        text-align: end;
    }  
}

@media screen and (max-width: 740px){
    #logo-header{
        height: 6.95rem;
        top: 1.94rem;
    }
    #logo-header:hover{
        transform: scale(1.05) translateX(0.2rem);
    }

    #nav-produits #activ-nav-produits ~ ul{
        background-color:  rgba(12, 12, 31, 0.95);
        align-items: center;
    }
    #nav-produits li{
        margin: 0 4rem;
        text-align: center;
    } 
}






footer{
    background-color: var(--couleur-fond);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 0.8rem;
    font-family: "Poppins";
}

footer a{
    color: inherit;
    text-decoration: none;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
footer a:hover{
    text-decoration: underline;
}

footer span{
    font-style: italic;
    font-weight: 200;
}
@media screen and (max-width: 740px){
    footer{
        flex-direction: column;
        row-gap: 1rem;
    } 
}