#form-produit{
    background-color: var(--couleur-fond-clair);
    display: flex;
}
#form-produit hr{
    width: 1px;
    background-color: white;
    border: none;
    height: calc(100vh - var(--header) - (15vh * 2));
    margin: 15vh 0;
    position: sticky;
    top: calc(var(--header) + 15vh); /* cf #selecteur + margin-top*/
}