.heroSection {
    position: relative;
    height: calc(100vh - var(--header-height));
}

.heroGradient {
    background: linear-gradient(
        0deg,
        rgba(12, 12, 31, 0.9) 0%,
        rgba(9, 9, 121, 0) 60%
    );
}

.heroTitle {
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    font-size: 7rem;
    font-family: "Ojuju";

    display: flex;
    flex-direction: column;
    margin: 2rem;
}
@media screen and (max-width: 1150px) {
  .heroTitle {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 740px) {
  .heroTitle {
    font-size: 4rem;
  }
}
@media screen and (max-width: 460px) {
  .heroTitle {
    font-size: 3.25rem;
  }
}