.heroSection {
    position: relative;
    height: calc(100vh - var(--header-height));
}

.heroGradient {
    background: linear-gradient(
        0deg,
        rgba(12, 12, 31, 0.9) 0%,
        rgba(9, 9, 121, 0) 60%
    );
}

.heroTitle {
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    font-size: 7rem;
    font-family: "Ojuju";

    display: flex;
    flex-direction: column;
    margin: 2rem;
}
@media screen and (max-width: 1150px) {
  .heroTitle {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 740px) {
  .heroTitle {
    font-size: 4rem;
  }
}
@media screen and (max-width: 460px) {
  .heroTitle {
    font-size: 3.25rem;
  }
}

.productsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {
  .productsSection {
    flex-direction: column;
  }
}

.aboutSection {
  min-height: calc(100vh - var(--header-height));
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.aboutImage {
  margin: 0 1.5rem;
  max-width: 650px;
  min-width: 450px;
}

.aboutContent {
  color: white;
  font-family: "Nothing You Could Do", cursive;
  max-width: 600px;
  padding: 3rem 2.5rem 3rem 1.5rem;
}

.aboutContent p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}