.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.title {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    font-family: "Ojuju", cursive;
    line-height: 1.3;
}
.title.lineHeight {
    line-height: 1.3;
}

.message {
    margin-bottom: 1.5rem;
}