#form-produit{
    background-color: var(--couleur-fond-clair);
    display: flex;
}
#form-produit hr{
    width: 1px;
    background-color: white;
    border: none;
    height: calc(100vh - var(--header) - (15vh * 2));
    margin: 15vh 0;
    position: sticky;
    top: calc(var(--header) + 15vh); /* cf #selecteur + margin-top*/
}

@media screen and (max-width: 900px) {
    #form-produit{
        flex-direction: column;
    }
    #form-produit hr{
        height: 1px;
        width: 65vw;
        margin: 0 auto;
        position: static;
    }
}